API_HOST=0.0.0.0
API_PORT=3000
API_CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
JWT_ACCESS_EXPIRES_IN=1m
JWT_REFRESH_EXPIRES_IN=5m
JWT_ACCESS_SECRET=preview-access-secret-change-me
JWT_REFRESH_SECRET=preview-refresh-secret-change-me
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=lax

REDIS_HOST=redis
REDIS_PORT=6379

GENERATED_REPORTS_DIR=/var/lib/reporter/generated-reports

BULL_BOARD_ENABLED=true
BULL_BOARD_BASE_PATH=/admin/queues
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=admin
