node_modules
.pnpm-store
dist
.tmp
tmp
coverage
.nx
.DS_Store

.env
.env.local
.env.*.local

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json


.nx/cache
.nx/workspace-data
.generated-reports
.eslintcache
